<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TalkBackAutoTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TalkBackAutoTest.Properties.Settings>
            <setting name="txtWS" serializeAs="String">
                <value />
            </setting>
            <setting name="txtPkg" serializeAs="String">
                <value />
            </setting>
            <setting name="modeTesting" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txtScriptFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="txtEventNumberMax1screen" serializeAs="String">
                <value />
            </setting>
            <setting name="txtEventNumberMaxAll" serializeAs="String">
                <value />
            </setting>
            <setting name="cbDisableSysKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="blacklist_language_word" serializeAs="String">
                <value />
            </setting>
            <setting name="blacklist_repeat_text" serializeAs="String">
                <value />
            </setting>
            <setting name="blacklist_dup_word" serializeAs="String">
                <value />
            </setting>
            <setting name="blacklist_unlabelled" serializeAs="String">
                <value />
            </setting>
            <setting name="set_Unlabelled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_NAF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_NoOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_DupWord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_RepeatPreviousObject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_DiffLang" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_NoOutputAfterTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_NoFocusableHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtMaximumScreenShot" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="blacklist_screen" serializeAs="String">
                <value />
            </setting>
            <setting name="envMode" serializeAs="String">
                <value>1</value>
            </setting>
        </TalkBackAutoTest.Properties.Settings>
    </userSettings>
</configuration>